{% extends "activitytree/base.html" %}



{% block content %}


<div class="row">
<table class="table">
<tr>
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Estado</th>
    <th>Veces intentado</th>
  </tr>

{% for test in test_info %}
<tr>
    <td>{{ test.user }} </td> 
	<td>{{ test }}	 </td> 
	<td>{{ test.progress_status }} </td> 
	<td>{{ test.num_attempts }}	 </td> 
  
</tr>
{% endfor %}

</table>

{% for u in ULA_inf %}
	{{u.id}}
{% endfor %}



</div>

{% endblock content %}

{% block scripts %}



{% endblock scripts %}